body {
  font-family: Helvetica;
}

.header {
  font-size: 100px;
  font-weight: bold;
  color: Khaki;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

#brushes h2 {
  background-color: mediumspringgreen;
}

#frames h2 {
  background-color: lightcoral;
}

#paint h2 {
  background-color: skyblue;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

strong {
  color: blue;
}
