html {
  color: #071013;
  font-family: "Poppins", serif;
  font-size: 16px;
}

body {
  background-color: #BBEAE0;
}

h1 {
  font-size: 3rem;
  margin: 2rem;
  text-align: center;
}

#form-outer {
  background-color: #E4E5E7;
  border-radius: 10px;
  margin: auto;
  max-width: 1000px;
  padding: 1rem;
}

#form-outer p {
  text-align: center;
  margin-bottom: 1rem;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.input-row {
  display: flex;
  justify-content: space-between;
  line-height: 1.25rem;
  padding: 0.5rem;
  width: 100%;
}

.input-label {
  text-align: right;
  width: 49%;
}

.input-enter {
  width: 49%;
}

.input-field {
  width: 60%;
}

#comments {
  height: 3rem;
}

#submit {
  background-color: #EB5160;
  border-radius: 5px;
  color: white;
  height: 40px;
  width: 96px;
  margin: 10px auto 0px auto;
  border: 0px solid;
}
