html {
  color: #1A181B;
  font-family: 'Questrial';
  font-size: 16px;
}

.container {
  display: flex;
  max-width: 1200px;
}

.main-container {
  width: 60%;
}

.side-container {
  width: 40%;
}

.image-container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
  height: auto;
}

nav span {
  padding-left: 1rem;
}

a {
  color: #1A181B;
  text-decoration: none;
}

a:hover {
  color:  #1F9393;
}

h1 {
  color: #1F9393;
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  color: #474A48;
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  color: #474A48;
  font-size: 1.5rem;
  font-weight: bold;
}

h4 {
  font-size: 1.25rem;
  font-weight: bold;
}

header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

header .logo {
  align-items: center;
  display: flex;
  flex: 1;
  padding: 1rem 1.5rem;
}

header .logo img {
  height: 2rem;
  width: auto;
}

header .logo p {
  font-weight: bold;
  line-height: 2;
  padding-right: .25rem;
}

header .logo p:last-child {
  color: #CCCDCD;
}

header nav {
  display: flex;
  padding: 1rem 1.5rem;
}

.mobile {
  display: none;
}

@media only screen and (max-width:640px) {
  .full {
    display: none;
  }

  .mobile {
    display: block;
  }
}

.banner {
  background-color: #CCCDCD;
  display: flex;
  justify-content: center;
}

.banner .container .main-container {
  padding: 2rem 1.5rem;
}

.banner-content {
  margin: auto 0;
}

.banner-content p {
  background-color: #474A48;
  padding: 0.5rem;
  pointer-events: none;
  text-align: center;
  width: 75%;
}

.banner-content p:hover {
  background-color: #1F9393;
}

.banner-content p > a {
    pointer-events: auto;
}

.banner-content p a {
  color: white;
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
}

.banner-content h1, .banner-content h3 {
  padding-bottom: 1.5rem;
}

@media only screen and (max-width:860px) {
  .banner .container {
    align-items: center;
    flex-direction: column;
  }

  .banner .container .main-container {
    padding: 0 0 1rem 0;
    width: 100%;
  }

  .banner .container .side-container {
    margin-bottom: 1rem;
    text-align: center;
    width: 100%;
  }

  .banner-content p {
    margin: 0 auto;
    width: 50%;
  }
}

.information {
  display: flex;
  justify-content: center;
}

.information .container .main-container {
  padding: 2rem 1.5rem;
}

@media only screen and (max-width:860px) {
  .information .container .main-container {
    width: auto;
    flex-shrink: 2;
  }

  .information .container .side-container {
    width: auto;
  }
}

@media only screen and (max-width:590px) {
  .information .container .main-container {
    display: none;
  }
}

.information .container .main-container  h2 {
  padding: 2rem 0 1.5rem 0;
}

.citation {
  color: #CCCDCD;
  font-size: 0.75rem;
  padding-top: 2rem;
}

.information .container .side-container {
  border-left: 1px solid #CCCDCD;
  padding-top: 1rem;
}

.info {
  border-bottom: 1px solid #CCCDCD;
  display: flex;
}

.info:last-child {
  background-color: #94C9C1;
}

.info .image-container {
  padding: 1rem;
  width: 35%;
}

.info-content {
  margin: auto 0;
  padding-right: 1rem;
  width: 65%;
}

.info-content h3, .info-content p {
  padding-bottom: 0.5rem;
}

.info-content a {
  color: #474A48;
}

.info-content a:hover {
  color:#1F9393;
}

.features {
  background-color: #CCCDCD;
  display: flex;
  justify-content: center;
}

.features .container {
  flex-direction: column;
}

.features .container h1 {
  padding-top: 2rem;
  text-align: center;
  width: 100%;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.course {
  background-color: white;
  margin: 1rem;
  width: 25%;
}

.course h4 {
  padding: 1rem 1rem 0 1rem;
}

.course p {
  padding: 0.5rem 1rem 0 1rem;
}

.course p:last-child {
  padding-bottom: 1.5rem;
}

@media only screen and (max-width: 790px) {
  .course p {
    display: none;
  }

  .course h4 {
    padding-bottom: 1.5rem;
  }
}

@media only screen and (max-width:590px) {
  .features {
    background-color: white;
    border-top: 1px solid #CCCDCD;
    border-bottom: 1px solid #CCCDCD;
  }
  .course .image-container img {
    display: none;
  }

  .course {
    background-color: #94C9C1;
    padding: 1rem;
    text-align: center;
  }

  .course h4 {
    font-size: 1rem;
  }
}

@media only screen and (max-width:490px) {
  .course {
    margin: 0.5rem;
    width: 50%;
  }
}

.thesis-exhibit {
  display: flex;
  justify-content: center;
}

.thesis-exhibit .container {
  display: flex;
  flex-direction: column;
}

.thesis-exhibit .container h1 {
  padding-bottom: 0.5rem;
  padding-top: 2rem;
  text-align: center;
  width: 100%;
}

.thesis-exhibit-content {
  display: flex;
}

.thesis-exhibit-content .main-container {
  padding: 1.5rem;
}

.thesis-exhibit-content .main-container h2 {
  padding: 0.5rem 0;
}

.thesis-exhibit-content .side-container{
  margin-top: 1.5rem;
}

@media only screen and (max-width:860px) {
  .thesis-exhibit-content .main-container {
    width: auto;
    flex-shrink: 2;
  }

  .thesis-exhibit-content .side-container {
    width: auto;
  }
}

@media only screen and (max-width:590px) {
  .thesis-exhibit-content .side-container {
    display: none;
  }
}

.thesis {
  display: flex;;
}

.thesis:first-child {
  background-color: #94C9C1;
}

.thesis .image-container {
  margin: 1rem;
  width: 35%;
}

.thesis-content {
  margin: auto 0;
  padding: 0 0.5rem 0.5rem 0;
  width: 65%;
}

.thesis-content h3 {
  padding: 1rem 0;
}

footer {
  background-color: #94C9C1;
  display: flex;
  justify-content: center;
}

footer .container {
  justify-content: space-between;
  width: 100%;
}

.copyright, footer .container nav {
  padding: 1rem 1.5rem;
}

@media only screen and (max-width:590px) {
  footer .container nav {
    display: none;
  }
}
