body {
  margin: 0;
}

a {
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  height: 80px;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
  color: mediumaquamarine;
}

.logo img {
  margin-right: 10px;
}

nav {
  margin-right: 20px;
}

nav span {
  padding: 10px;
}
